* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  body{
      background-color: aqua;
      font-family: 'Courier New', Courier, monospace;
  }
  h1{
      color: blue;
      background-color: black;
  }
  h1::first-letter , h2::first-letter , h3::first-letter{
      font-size: 3vmax;
  }
  a{
      text-decoration: none;
      color: red;
  }
  a:hover{
      text-decoration:underline;
  }
  a:hover.a{
      display: block;
  }
  hr{
      color: black;
  }
  .decriptions{
    color: slateblue;
  }
  #movie-list{

    transform: rotate(180deg);
    margin-left: 5vmax;

  }
  #movie-list > li{

    transform: rotate(-180deg);
  }