
#main{
    position: relative;
    width: 800px;
    border: 4px gray solid;
    border-radius: 20px;
    margin: auto;
    background-color: #b1c47e;
}

#left_main{
position: relative;
top: auto;
    float: left;
    width: 550px;
    background-image: url('movie-images/background.png');
    overflow: auto;
}

#left_header{
    
    background-image: url('movie-images/rbg.png');
    position: inherit;
    
}
body{
    margin: 0%;
    padding: 0%;
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 1;
    background-image: url('movie-images/background.png');
    

}

header{
    background-image: url('movie-images/bannerbg.png');
    background-repeat: repeat-x;


}

header > img{
    margin-left: 30%;  
    width: 40%;
    
}

h1{
    font-size: 24pt;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

#number{
    color: red;
    font-size: 48pt;
    vertical-align: center;
    text-align: center;
}

.review{
    display: inline-block;
    width: 47%;
    margin-right: 2%;
    margin-bottom: 20pt;
}

.break {
    clear: left;
}

h1{
    width: 15%;
    margin: auto;
    padding: 2%;
}

.rotten_icon{
    float: left;
    margin-right: 5px;
}

.review_text{
    border: solid gray 2px;
    border-radius: 10px;
    background-color: #ebdc89;
    padding: 8px;
}

.person_icon{
    float: left;
}
#right_main{

    display: inline-block;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

#right_main > img{
    border-top-right-radius: 20px;
}

dl > dt{
    font-weight: bold;
    margin-top: 4pt;
}

dl{
    padding-left: 3pt;   
}

dl > dd{
    padding: 3px;
    font-weight: bold;
}

#page_number{
    width: 15%;
    margin-top: 10px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 10px;

}

#validators{
    width: 15%;
    margin-left: 1250px;
}
.review_text>p{
    font-weight: bold;
}