* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  body{
      background-color: aqua;
      font-family: 'Courier New', Courier, monospace;
  }
  h1{
      color: blue;
      background-color: black;
  }
  a{
      text-decoration: none;
  }
  a:hover{
      text-decoration:underline;
  }
  a:hover.a{
      display: block;
  }
  hr{
      size: 45;
      color: black;
  }