h1,h2{
    color: #A4A400;
    font-family: Lucida, saSans Unicode, Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 22pt;
    font: bold;
    text-decoration: underline;   
}
h2{
    font-size: 18pt;
}
body{
    background-color: white;
    color: #404040;
    font:11pt;
    font-family: Georgia,Garamond, serif ;
}
a{
color: #A4A400;
}
hr{
    color: black;
    size: 100;
}
.background{
    
    background-color: #A4A400;
    width: 90vw;
    margin: 0 auto;
    font-style: italic;
    
}


acd{
    color: red;
}
.pretag{
    color: #404040;
}
h1 span , h2 span{                        
    background-color: #f0f0f0; 
}
#copyright{
    text-align: right;
}