<%-include("./head.ejs")%>
        <body>
            <form action='/result' method='POST'>
                <p>Things work fine</p>
                <label>Name <input type='text' name='name'></label>
                <label>Age <input type='text' name='age'></label>
                <input type='submit' value='submit query'></label>
            </form>
        </body>
        <%-include ("./end.ejs")%>
    
     


       